{
  "extends": [
    "stylelint-config-standard-scss"
  ],
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "declaration-empty-line-before": null,
    "at-rule-no-unknown": null,
    "scss/no-global-function-names": null,
    "scss/at-rule-no-unknown": true,
    "custom-property-empty-line-before": null,
    "scss/dollar-variable-empty-line-before": null
  }
}