.header-menu {
  border: 2px solid var(--color-primary);
  background-color: var(--color-secondary);
  border-radius: 50px;

  & > .active {
    background-color: var(--color-primary);
    color: var(--color-secondary)
  }

  &-item {
    overflow: hidden;
    text-decoration: none;
    list-style-type: none;
    color: var(--color-primary);
    padding: px-rem(4px) px-rem(16px) px-rem(4px);
    white-space: nowrap;

    &:nth-child(1) {
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
    }

    &:nth-child(3) {
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-secondary)
    }
  }
}